/*MEDIA QUERY*/

@media only screen and (max-width: 480px) {
    .header {
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "logo_div"
            "rrss_div"
            "menu_nav"
        ;
        gap: 2rem;
        padding: 2rem;
    }


    #logo_div {
        grid-area: logo_div;
        width: 100%;
        height: auto;
        padding: 2rem;
    }

    .rrss_div {
        grid-area: rrss_div;
        width: 100%;
        height: auto;
    }

    .menu_nav {
        grid-area: menu_nav;
        text-align: center;
    }

    .main_text {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "quienes"
            "historia"
            "actividades"
        ;


    }

    .main_text_div {
        width: 100%;
    }

    #quienes {
        grid-area: quienes;
    }

    #historia {
        grid-area: historia;
    }

    #actividades {
        grid-area: actividades;
    }


    /* CABAÑAS */

    .texto_cabanias {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* UBICACIÓN */

    .ubicacion_cont {
        display: block;
        text-align: center;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {


    .header {
        width: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
        grid-template-areas:
            "logo_div"
            "rrss_div"
            "menu_nav"
        ;
        gap: 2rem;
        padding: 2rem;
    }

    #logo_div {
        grid-area: logo_div;
        width: 100%;
        height: auto;
        padding: 2rem;
    }

    .rrss_div {
        grid-area: rrss_div;
        width: 100%;
        height: auto;
    }

    .menu_nav {
        grid-area: menu_nav;
        padding: 0;
        text-align: center;
    }

    .main_text {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "quienes"
            "historia"
            "actividades"
        ;


    }

    .main_text_div {
        width: 100%;
    }

    #quienes {
        grid-area: quienes;
    }

    #historia {
        grid-area: historia;
    }

    #actividades {
        grid-area: actividades;
    }

}