$primario: #FFEBCD;
$primarioOscuro: #D2B48C;
$secundario: #8FBC8F;
$secundarioOscuro: #556B2F;
$yellow: gold;
$blanco: #FFF;
$negro: #000;
$naranja: #F4A460;
/*$--fuentePrincipal: font-family: 'Roboto', sans-serif;*/

